
.mapa {
    color: #fff;
}

/* Team's info */

#equiposSection{
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -o-animation-duration: .5s;
}

/* clearfix */
#equiposSection:after,
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.thumbnail{
    background-color: rgba(240, 95, 64, 0.81);
    border : 0px;
    /* background-color: rgba(240,95,64,.9); */
    /* color: #f05f40; */
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    transition: all .2s ease-in-out; 
}

.thumbnail >.caption{
    color: #fff;
}

.thumbnail a{
    color: #fff;
}

.thumbnail a:hover{
    color: #ccc;
}


.thumbnail:hover { 
    transform: scale(1.1); 
}

.thumbnail .logoback {
    background-color: #fff;
    border-radius: 6px;
}

.thumbnail .logo{
    max-width: 50%;    
}

.nombre {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

}

.detalles {
    font-size: 14px;
}

.social .facebook{
    background-image: url('../img/FB-f-Logo__blue_29.png');
    display:block;
    width: 29px;
    height: 29px;
    margin-right: auto;
    margin-left: auto;
}

.direccion {

}

.correo {

}

.telefono {

}

.no-margin{
    margin: 0px;
}

/* make columns in row with equal heigth 
@media(max-width:1200px){   

    .row > .team-box:nth-child(2n+1){
        clear: left;
    }

    .row > .col-sm-6:nth-child(2n+1){
        clear: left;
    }
}
*/
/*
.row [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
    overflow: hidden; 
}
*/

/* set correct size of the map */
@media(min-width:1200px){ 
    #mapa > .container {
        width: 60%;
    }
}
